/*********************
FONTS
*********************/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?7kox5d");
  src: url("../fonts/icomoon.eot?7kox5d#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?7kox5d") format("truetype"), url("../fonts/icomoon.woff?7kox5d") format("woff"), url("../fonts/icomoon.svg?7kox5d#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 17, sass/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 32, sass/_fonts.scss */
.icon-mail:before {
  content: "\e90b"; }

/* line 35, sass/_fonts.scss */
.icon-email:before {
  content: "\e90b"; }

/* line 38, sass/_fonts.scss */
.icon-letter:before {
  content: "\e90b"; }

/* line 41, sass/_fonts.scss */
.icon-envelope:before {
  content: "\e90b"; }

/* line 44, sass/_fonts.scss */
.icon-contact:before {
  content: "\e90b"; }

/* line 47, sass/_fonts.scss */
.icon-comment-discussion:before {
  content: "\e907"; }

/* line 50, sass/_fonts.scss */
.icon-facebook:before {
  content: "\ea90"; }

/* line 53, sass/_fonts.scss */
.icon-google-plus:before {
  content: "\e903"; }

/* line 56, sass/_fonts.scss */
.icon-chevron-thin-down:before {
  content: "\e900"; }

/* line 59, sass/_fonts.scss */
.icon-phone:before {
  content: "\e90c"; }

/* line 62, sass/_fonts.scss */
.icon-comment:before {
  content: "\e90a"; }

/* line 65, sass/_fonts.scss */
.icon-calendar:before {
  content: "\e908"; }

/* line 68, sass/_fonts.scss */
.icon-graduation-cap:before {
  content: "\e909"; }

/* line 71, sass/_fonts.scss */
.icon-mortar-board:before {
  content: "\e909"; }

/* line 74, sass/_fonts.scss */
.icon-globe:before {
  content: "\e906"; }

/* line 77, sass/_fonts.scss */
.icon-youtube:before {
  content: "\e905"; }

/* line 80, sass/_fonts.scss */
.icon-twitter:before {
  content: "\e904"; }

/* line 83, sass/_fonts.scss */
.icon-angle-right:before {
  content: "\e902"; }

/* line 86, sass/_fonts.scss */
.icon-search:before {
  content: "\e901"; }

/* line 93, sass/_fonts.scss */
a .icon-heart {
  background-position: -2px -124px; }

/* line 96, sass/_fonts.scss */
a .icon-plane {
  background-position: -2px -2px; }

/* line 99, sass/_fonts.scss */
a .icon-micky {
  background-position: -246px -2px; }

/* line 102, sass/_fonts.scss */
a .icon-music {
  background-position: -124px -2px; }

/* line 105, sass/_fonts.scss */
a .icon-yoga {
  background-position: -124px -124px; }

/* line 108, sass/_fonts.scss */
a .icon-diving {
  background-position: -246px -124px; }

/* line 111, sass/_fonts.scss */
a .icon-movie {
  background-position: -124px -246px; }

/******************************************************************

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants.

******************************************************************/
/*********************
TOOLS
*********************/
/* line 15, sass/_mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/*********************
CSS3 GRADIENTS.
*********************/
@media (min-width: 1024px) {
  /* line 12, sass/_cube.scss */
  .scene {
    width: 1100px;
    height: 740px;
    padding-top: 30px;
    margin: 0 auto 0;
    -webkit-perspective: 4400px;
            perspective: 4400px;
    -webkit-perspective-origin: 50% 0;
            perspective-origin: 50% 0;
    -webkit-transition: all 3s;
    transition: all 3s; }
    /* line 21, sass/_cube.scss */
    .scene-container {
      width: 100%;
      overflow: hidden;
      background: #eee;
      padding-top: 25px; }
    /* line 28, sass/_cube.scss */
    .scene .cube {
      position: relative;
      width: 1100px;
      height: 740px;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transform: translateZ(-550px) rotateY(0deg);
              transform: translateZ(-550px) rotateY(0deg);
      -webkit-transition: all 3s;
      transition: all 3s; }
    /* line 37, sass/_cube.scss */
    .scene .side {
      position: absolute;
      width: 1100px;
      height: 740px;
      height: auto;
      cursor: ew-resize; }
      /* line 44, sass/_cube.scss */
      .scene .side .wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        pointer-events: none; }
      /* line 50, sass/_cube.scss */
      .scene .side.active {
        cursor: default; }
        /* line 52, sass/_cube.scss */
        .scene .side.active .wrapper {
          pointer-events: all; }
    /* line 58, sass/_cube.scss */
    .scene .left {
      -webkit-transform: translateX(-1045px) rotateY(40deg);
              transform: translateX(-1045px) rotateY(40deg);
      opacity: 1;
      -webkit-transition: opacity 1.5s, visibility 1.5s;
      transition: opacity 1.5s, visibility 1.5s; }
    /* line 63, sass/_cube.scss */
    .scene .front {
      -webkit-transform: translateZ(-550px);
              transform: translateZ(-550px); }
    /* line 66, sass/_cube.scss */
    .scene .right {
      -webkit-transform: translateX(1045px) rotateY(-40deg);
              transform: translateX(1045px) rotateY(-40deg);
      opacity: 1;
      -webkit-transition: opacity 1.5s, visibility 1.5s;
      transition: opacity 1.5s, visibility 1.5s; }
    /* line 71, sass/_cube.scss */
    .scene .back {
      -webkit-transform: translateX(1045px) translateZ(1100px) rotateY(-80deg);
              transform: translateX(1045px) translateZ(1100px) rotateY(-80deg);
      opacity: 1;
      -webkit-transition: opacity 1.5s, visibility 1.5s;
      transition: opacity 1.5s, visibility 1.5s; }
    /* line 78, sass/_cube.scss */
    .scene-front .back {
      opacity: 0;
      visibility: hidden; }
    /* line 84, sass/_cube.scss */
    .scene-left {
      -webkit-perspective-origin: 310% 0;
              perspective-origin: 310% 0; }
      /* line 86, sass/_cube.scss */
      .scene-left .cube {
        -webkit-transform: translateZ(-550px) rotateY(-40deg);
                transform: translateZ(-550px) rotateY(-40deg); }
      /* line 89, sass/_cube.scss */
      .scene-left .right {
        opacity: 0;
        visibility: hidden; }
      /* line 93, sass/_cube.scss */
      .scene-left .back {
        opacity: 0;
        visibility: hidden; }
    /* line 98, sass/_cube.scss */
    .scene-right {
      -webkit-perspective-origin: -230% 0;
              perspective-origin: -230% 0; }
      /* line 100, sass/_cube.scss */
      .scene-right .cube {
        -webkit-transform: translateZ(-550px) rotateY(40deg);
                transform: translateZ(-550px) rotateY(40deg); }
      /* line 103, sass/_cube.scss */
      .scene-right .left {
        opacity: 0;
        visibility: hidden; }
    /* line 108, sass/_cube.scss */
    .scene-back {
      -webkit-perspective-origin: -330% 0;
              perspective-origin: -330% 0; }
      /* line 110, sass/_cube.scss */
      .scene-back .cube {
        -webkit-transform: translateZ(-550px) rotateY(80deg);
                transform: translateZ(-550px) rotateY(80deg); }
      /* line 113, sass/_cube.scss */
      .scene-back .left {
        opacity: 0;
        visibility: hidden; }
      /* line 117, sass/_cube.scss */
      .scene-back .front {
        opacity: 0;
        visibility: hidden; } }

@media (max-width: 1024px) {
  /* line 130, sass/_cube.scss */
  .scene .side.left, .scene .side.right, .scene .side.back {
    display: none; }
    /* line 134, sass/_cube.scss */
    .scene .side.left .wrapper, .scene .side.right .wrapper, .scene .side.back .wrapper {
      max-height: 600px; } }

/*********************
FONTS
*********************/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?7kox5d");
  src: url("../fonts/icomoon.eot?7kox5d#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?7kox5d") format("truetype"), url("../fonts/icomoon.woff?7kox5d") format("woff"), url("../fonts/icomoon.svg?7kox5d#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 17, sass/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 32, sass/_fonts.scss */
.icon-mail:before {
  content: "\e90b"; }

/* line 35, sass/_fonts.scss */
.icon-email:before {
  content: "\e90b"; }

/* line 38, sass/_fonts.scss */
.icon-letter:before {
  content: "\e90b"; }

/* line 41, sass/_fonts.scss */
.icon-envelope:before {
  content: "\e90b"; }

/* line 44, sass/_fonts.scss */
.icon-contact:before {
  content: "\e90b"; }

/* line 47, sass/_fonts.scss */
.icon-comment-discussion:before {
  content: "\e907"; }

/* line 50, sass/_fonts.scss */
.icon-facebook:before {
  content: "\ea90"; }

/* line 53, sass/_fonts.scss */
.icon-google-plus:before {
  content: "\e903"; }

/* line 56, sass/_fonts.scss */
.icon-chevron-thin-down:before {
  content: "\e900"; }

/* line 59, sass/_fonts.scss */
.icon-phone:before {
  content: "\e90c"; }

/* line 62, sass/_fonts.scss */
.icon-comment:before {
  content: "\e90a"; }

/* line 65, sass/_fonts.scss */
.icon-calendar:before {
  content: "\e908"; }

/* line 68, sass/_fonts.scss */
.icon-graduation-cap:before {
  content: "\e909"; }

/* line 71, sass/_fonts.scss */
.icon-mortar-board:before {
  content: "\e909"; }

/* line 74, sass/_fonts.scss */
.icon-globe:before {
  content: "\e906"; }

/* line 77, sass/_fonts.scss */
.icon-youtube:before {
  content: "\e905"; }

/* line 80, sass/_fonts.scss */
.icon-twitter:before {
  content: "\e904"; }

/* line 83, sass/_fonts.scss */
.icon-angle-right:before {
  content: "\e902"; }

/* line 86, sass/_fonts.scss */
.icon-search:before {
  content: "\e901"; }

/* line 93, sass/_fonts.scss */
a .icon-heart {
  background-position: -2px -124px; }

/* line 96, sass/_fonts.scss */
a .icon-plane {
  background-position: -2px -2px; }

/* line 99, sass/_fonts.scss */
a .icon-micky {
  background-position: -246px -2px; }

/* line 102, sass/_fonts.scss */
a .icon-music {
  background-position: -124px -2px; }

/* line 105, sass/_fonts.scss */
a .icon-yoga {
  background-position: -124px -124px; }

/* line 108, sass/_fonts.scss */
a .icon-diving {
  background-position: -246px -124px; }

/* line 111, sass/_fonts.scss */
a .icon-movie {
  background-position: -124px -246px; }

/******************************************************************

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants.

******************************************************************/
/*********************
TOOLS
*********************/
/* line 15, sass/_mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/*********************
CSS3 GRADIENTS.
*********************/
@media (min-width: 1024px) {
  /* line 12, sass/_cube.scss */
  .scene {
    width: 1100px;
    height: 740px;
    padding-top: 30px;
    margin: 0 auto 0;
    -webkit-perspective: 4400px;
            perspective: 4400px;
    -webkit-perspective-origin: 50% 0;
            perspective-origin: 50% 0;
    -webkit-transition: all 3s;
    transition: all 3s; }
    /* line 21, sass/_cube.scss */
    .scene-container {
      width: 100%;
      overflow: hidden;
      background: #eee;
      padding-top: 25px; }
    /* line 28, sass/_cube.scss */
    .scene .cube {
      position: relative;
      width: 1100px;
      height: 740px;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transform: translateZ(-550px) rotateY(0deg);
              transform: translateZ(-550px) rotateY(0deg);
      -webkit-transition: all 3s;
      transition: all 3s; }
    /* line 37, sass/_cube.scss */
    .scene .side {
      position: absolute;
      width: 1100px;
      height: 740px;
      height: auto;
      cursor: ew-resize; }
      /* line 44, sass/_cube.scss */
      .scene .side .wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        pointer-events: none; }
      /* line 50, sass/_cube.scss */
      .scene .side.active {
        cursor: default; }
        /* line 52, sass/_cube.scss */
        .scene .side.active .wrapper {
          pointer-events: all; }
    /* line 58, sass/_cube.scss */
    .scene .left {
      -webkit-transform: translateX(-1045px) rotateY(40deg);
              transform: translateX(-1045px) rotateY(40deg);
      opacity: 1;
      -webkit-transition: opacity 1.5s, visibility 1.5s;
      transition: opacity 1.5s, visibility 1.5s; }
    /* line 63, sass/_cube.scss */
    .scene .front {
      -webkit-transform: translateZ(-550px);
              transform: translateZ(-550px); }
    /* line 66, sass/_cube.scss */
    .scene .right {
      -webkit-transform: translateX(1045px) rotateY(-40deg);
              transform: translateX(1045px) rotateY(-40deg);
      opacity: 1;
      -webkit-transition: opacity 1.5s, visibility 1.5s;
      transition: opacity 1.5s, visibility 1.5s; }
    /* line 71, sass/_cube.scss */
    .scene .back {
      -webkit-transform: translateX(1045px) translateZ(1100px) rotateY(-80deg);
              transform: translateX(1045px) translateZ(1100px) rotateY(-80deg);
      opacity: 1;
      -webkit-transition: opacity 1.5s, visibility 1.5s;
      transition: opacity 1.5s, visibility 1.5s; }
    /* line 78, sass/_cube.scss */
    .scene-front .back {
      opacity: 0;
      visibility: hidden; }
    /* line 84, sass/_cube.scss */
    .scene-left {
      -webkit-perspective-origin: 310% 0;
              perspective-origin: 310% 0; }
      /* line 86, sass/_cube.scss */
      .scene-left .cube {
        -webkit-transform: translateZ(-550px) rotateY(-40deg);
                transform: translateZ(-550px) rotateY(-40deg); }
      /* line 89, sass/_cube.scss */
      .scene-left .right {
        opacity: 0;
        visibility: hidden; }
      /* line 93, sass/_cube.scss */
      .scene-left .back {
        opacity: 0;
        visibility: hidden; }
    /* line 98, sass/_cube.scss */
    .scene-right {
      -webkit-perspective-origin: -230% 0;
              perspective-origin: -230% 0; }
      /* line 100, sass/_cube.scss */
      .scene-right .cube {
        -webkit-transform: translateZ(-550px) rotateY(40deg);
                transform: translateZ(-550px) rotateY(40deg); }
      /* line 103, sass/_cube.scss */
      .scene-right .left {
        opacity: 0;
        visibility: hidden; }
    /* line 108, sass/_cube.scss */
    .scene-back {
      -webkit-perspective-origin: -330% 0;
              perspective-origin: -330% 0; }
      /* line 110, sass/_cube.scss */
      .scene-back .cube {
        -webkit-transform: translateZ(-550px) rotateY(80deg);
                transform: translateZ(-550px) rotateY(80deg); }
      /* line 113, sass/_cube.scss */
      .scene-back .left {
        opacity: 0;
        visibility: hidden; }
      /* line 117, sass/_cube.scss */
      .scene-back .front {
        opacity: 0;
        visibility: hidden; } }

@media (max-width: 1024px) {
  /* line 130, sass/_cube.scss */
  .scene .side.left, .scene .side.right, .scene .side.back {
    display: none; }
    /* line 134, sass/_cube.scss */
    .scene .side.left .wrapper, .scene .side.right .wrapper, .scene .side.back .wrapper {
      max-height: 600px; } }

/*********************
GENERAL STYLES
*********************/
/* line 16, sass/_main.scss */
body {
  color: #535353;
  font-family: "Roboto", Helvetica, Arial, sans-serif; }
  /* line 19, sass/_main.scss */
  body.no-scroll {
    overflow-y: hidden; }

/* line 23, sass/_main.scss */
.clear {
  clear: both; }

/* line 27, sass/_main.scss */
.row {
  max-width: 1130px; }

/* line 31, sass/_main.scss */
a,
button,
input,
textarea,
select,
.button,
.fa {
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

/* line 41, sass/_main.scss */
a {
  color: #07407f; }

/* line 45, sass/_main.scss */
.margin-top {
  margin-top: 1em; }

/* line 51, sass/_main.scss */
a:link, a:visited:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

/* line 58, sass/_main.scss */
.background-image {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }

/* line 63, sass/_main.scss */
.logo {
  max-width: 240px; }

/* line 66, sass/_main.scss */
.position-relative {
  position: relative; }

/* line 67, sass/_main.scss */
.margin-bottom {
  margin-bottom: 1em; }

/* line 68, sass/_main.scss */
.margin-bottom-2 {
  margin-bottom: 2em; }

/* line 69, sass/_main.scss */
.margin-bottom-3 {
  margin-bottom: 3em; }

/* line 70, sass/_main.scss */
.overflow-hidden {
  overflow: hidden; }

/* line 71, sass/_main.scss */
.opacity {
  opacity: 0; }

/* line 72, sass/_main.scss */
.main-color {
  color: #113970; }

/* line 73, sass/_main.scss */
.link-hover {
  cursor: pointer; }

/* line 75, sass/_main.scss */
.overflow-y {
  overflow-x: hidden;
  overflow-y: auto; }
  /* line 79, sass/_main.scss */
  .overflow-y::-webkit-scrollbar {
    width: 15px; }
  /* line 82, sass/_main.scss */
  .overflow-y::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px; }
  /* line 86, sass/_main.scss */
  .overflow-y::-webkit-scrollbar-thumb {
    width: 10px;
    height: 45px;
    border-radius: 5px;
    background: #3daed0;
    -webkit-box-shadow: inset 0 0 6px rgba(17, 57, 112, 0.3); }

/*********************
H1, H2, H3, H4, H5, P STYLES
*********************/
/* line 99, sass/_main.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  color: #283a47; }
  /* line 106, sass/_main.scss */
  h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a {
    text-decoration: none; }

/* line 111, sass/_main.scss */
h2 {
  font-size: 30px;
  margin-bottom: 1em; }

/* line 117, sass/_main.scss */
p {
  font-size: 14px;
  line-height: 1.4; }

/* line 122, sass/_main.scss */
ul,
ol {
  font-size: 14px; }

/*********************
HEADER
*********************/
/* line 131, sass/_main.scss */
.header {
  width: 100%;
  min-height: 85px;
  padding: 10px 10px 0;
  position: relative; }
  @media (min-width: 640px) {
    /* line 131, sass/_main.scss */
    .header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-bottom: 10px; } }
  /* line 141, sass/_main.scss */
  .header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 640px) {
      /* line 141, sass/_main.scss */
      .header-left {
        position: absolute;
        left: 15px;
        top: 0;
        height: 85px; } }
  /* line 152, sass/_main.scss */
  .header .menu-toggle {
    cursor: pointer;
    margin-left: 25px;
    text-transform: uppercase; }
    /* line 156, sass/_main.scss */
    .header .menu-toggle i {
      font-size: 18px;
      margin-right: 2px; }
  /* line 162, sass/_main.scss */
  .header-center {
    width: 100%;
    text-align: center; }
    @media (min-width: 640px) and (max-width: 1200px) {
      /* line 162, sass/_main.scss */
      .header-center {
        text-align: right; } }

/* line 172, sass/_main.scss */
.page-title {
  font-size: 24px;
  font-weight: normal;
  padding: 10px 0;
  margin: 0; }
  @media (min-width: 640px) {
    /* line 172, sass/_main.scss */
    .page-title {
      font-size: 30px;
      padding: 0; } }

/* line 183, sass/_main.scss */
.sidebar {
  position: fixed;
  color: #ffffff;
  z-index: 9;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #16131a;
  background-image: url("../img/bg-sidebar.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 100vh;
  width: 100%;
  max-width: 280px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 200; }
  /* line 200, sass/_main.scss */
  .sidebar.sidebar-closed {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
    /* line 202, sass/_main.scss */
    .sidebar.sidebar-closed .sidebar-close {
      opacity: 0;
      visibility: hidden; }

/* line 210, sass/_main.scss */
.sidebar-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  padding-top: 10px; }

/* line 218, sass/_main.scss */
.sidebar-scroll {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  overflow-y: auto;
  overflow-x: hidden; }
  /* line 227, sass/_main.scss */
  .sidebar-scroll::-webkit-scrollbar {
    width: 10px; }
  /* line 230, sass/_main.scss */
  .sidebar-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 3px; }
  /* line 234, sass/_main.scss */
  .sidebar-scroll::-webkit-scrollbar-thumb {
    width: 10px;
    height: 45px;
    border-radius: 3px;
    background: #3daed0;
    -webkit-box-shadow: inset 0 0 6px rgba(17, 57, 112, 0.3); }

/* line 243, sass/_main.scss */
.sidebar-close {
  width: 30px;
  height: 30px;
  background: #FFF;
  color: #000;
  font-size: 24px;
  line-height: 30px;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: -40px;
  visibility: visible;
  opacity: 1;
  display: block; }
  /* line 259, sass/_main.scss */
  .sidebar-close > span {
    position: relative;
    bottom: 2px; }
  /* line 264, sass/_main.scss */
  .sidebar-close:hover, .sidebar-close:focus {
    opacity: 0.8; }

/* line 271, sass/_main.scss */
.menu-main {
  padding-top: 25px; }
  /* line 274, sass/_main.scss */
  .menu-main > li > a {
    color: #898989;
    font-size: 18px;
    font-style: italic;
    padding-left: 20px;
    outline: none !important;
    position: relative; }
  /* line 282, sass/_main.scss */
  .menu-main > li.is-accordion-submenu-parent {
    position: relative; }
    /* line 285, sass/_main.scss */
    .menu-main > li.is-accordion-submenu-parent a:after {
      display: none !important; }
    /* line 288, sass/_main.scss */
    .menu-main > li.is-accordion-submenu-parent a:before {
      content: "\f054";
      font-family: 'FontAwesome';
      font-size: 16px;
      font-style: normal;
      position: absolute;
      top: 10px;
      left: 0;
      color: #898989;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
    /* line 302, sass/_main.scss */
    .menu-main > li.is-accordion-submenu-parent[aria-expanded=true] a:before {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
  /* line 311, sass/_main.scss */
  .menu-main .menu li a {
    color: #fff;
    font-size: 18px;
    padding-left: 20px;
    outline: none !important; }
    /* line 316, sass/_main.scss */
    .menu-main .menu li a:hover, .menu-main .menu li a:focus, .menu-main .menu li a:active {
      color: #a9a9a9; }
  /* line 325, sass/_main.scss */
  .menu-main .search {
    position: relative; }
    /* line 327, sass/_main.scss */
    .menu-main .search .fa {
      position: absolute;
      top: 10px;
      left: 10px;
      color: #000; }
    /* line 333, sass/_main.scss */
    .menu-main .search input {
      padding-left: 35px;
      background-color: rgba(255, 255, 255, 0.3);
      border: none;
      box-shadow: none !important;
      outline: none !important;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      /* line 40, sass/_mixins.scss */
      .menu-main .search input::-webkit-input-placeholder {
        color: #000; }
      /* line 41, sass/_mixins.scss */
      .menu-main .search input::-moz-placeholder {
        color: #000; }
      /* line 42, sass/_mixins.scss */
      .menu-main .search input:-moz-placeholder {
        color: #000; }
      /* line 43, sass/_mixins.scss */
      .menu-main .search input:-ms-input-placeholder {
        color: #000; }
      /* line 343, sass/_main.scss */
      .menu-main .search input:focus {
        background-color: rgba(255, 255, 255, 0.7); }
  /* line 350, sass/_main.scss */
  .menu-main .login a {
    color: #FFF;
    font-style: normal; }
  /* line 356, sass/_main.scss */
  .menu-main .socials {
    padding-left: 20px; }
    /* line 358, sass/_main.scss */
    .menu-main .socials a {
      display: inline-block;
      padding-left: 8px;
      padding-right: 8px;
      font-size: 20px;
      color: #898989; }
      /* line 364, sass/_main.scss */
      .menu-main .socials a:hover {
        color: #FFF; }
  /* line 370, sass/_main.scss */
  .menu-main img,
  .menu-main .fa {
    margin-right: 10px !important; }

/* line 377, sass/_main.scss */
#loginModal {
  max-width: 300px;
  padding: 15px 25px; }
  /* line 381, sass/_main.scss */
  #loginModal .tabs {
    margin-top: 30px;
    border: none; }
    /* line 385, sass/_main.scss */
    #loginModal .tabs-title {
      width: 50%;
      text-align: center;
      color: #535353; }
      /* line 389, sass/_main.scss */
      #loginModal .tabs-title a {
        color: #535353;
        font-size: 14px;
        padding: 15px 10px;
        background-color: #f7f7f7; }
      /* line 396, sass/_main.scss */
      #loginModal .tabs-title.is-active a {
        background-color: #126195;
        color: #fff; }
    /* line 403, sass/_main.scss */
    #loginModal .tabs-content {
      border: none; }
      /* line 405, sass/_main.scss */
      #loginModal .tabs-content input {
        font-size: 14px;
        outline: none !important;
        box-shadow: none !important; }
        /* line 40, sass/_mixins.scss */
        #loginModal .tabs-content input::-webkit-input-placeholder {
          color: #535353; }
        /* line 41, sass/_mixins.scss */
        #loginModal .tabs-content input::-moz-placeholder {
          color: #535353; }
        /* line 42, sass/_mixins.scss */
        #loginModal .tabs-content input:-moz-placeholder {
          color: #535353; }
        /* line 43, sass/_mixins.scss */
        #loginModal .tabs-content input:-ms-input-placeholder {
          color: #535353; }
      /* line 412, sass/_main.scss */
      #loginModal .tabs-content button {
        margin-bottom: 0; }
      /* line 415, sass/_main.scss */
      #loginModal .tabs-content .forgot-password {
        margin-top: 7px;
        text-align: right; }
        /* line 418, sass/_main.scss */
        #loginModal .tabs-content .forgot-password a {
          color: #535353;
          font-size: 10px;
          text-decoration: underline; }
          /* line 422, sass/_main.scss */
          #loginModal .tabs-content .forgot-password a:hover {
            color: #000; }
    /* line 429, sass/_main.scss */
    #loginModal .tabs-panel {
      padding: 15px 0; }

/*********************
FOOTER
*********************/
/* line 438, sass/_main.scss */
.footer {
  border-top: 1px solid #c3c3c3;
  padding-top: 25px;
  font-size: 14px; }
  /* line 442, sass/_main.scss */
  .footer .menu {
    display: block;
    margin-bottom: 15px; }
    /* line 446, sass/_main.scss */
    .footer .menu li a {
      color: #616161;
      text-decoration: underline;
      font-size: 14px;
      padding: 7px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      @media (min-width: 1024px) {
        /* line 446, sass/_main.scss */
        .footer .menu li a {
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start; } }
      /* line 455, sass/_main.scss */
      .footer .menu li a:hover, .footer .menu li a:focus, .footer .menu li a:active {
        color: #898989; }
  /* line 464, sass/_main.scss */
  .footer-contacts {
    margin-bottom: 20px;
    text-align: center; }
    @media (min-width: 640px) {
      /* line 464, sass/_main.scss */
      .footer-contacts {
        text-align: left; } }
    /* line 470, sass/_main.scss */
    .footer-contacts a {
      text-decoration: underline; }
    /* line 473, sass/_main.scss */
    .footer-contacts p {
      margin-bottom: 8px; }
  /* line 478, sass/_main.scss */
  .footer-license {
    font-size: 12px;
    color: #2E2E2E;
    text-align: center; }
    @media (min-width: 640px) {
      /* line 478, sass/_main.scss */
      .footer-license {
        text-align: left; } }
    /* line 485, sass/_main.scss */
    .footer-license p {
      line-height: 1.2; }
  /* line 490, sass/_main.scss */
  .footer-links {
    margin-bottom: 30px;
    text-align: center; }
    @media (min-width: 1024px) {
      /* line 490, sass/_main.scss */
      .footer-links {
        text-align: right; } }
    /* line 496, sass/_main.scss */
    .footer-links p {
      margin-bottom: 1em;
      line-height: 1.2; }
    /* line 500, sass/_main.scss */
    .footer-links img {
      display: block;
      margin: 0 auto 5px; }
      @media (min-width: 1024px) {
        /* line 500, sass/_main.scss */
        .footer-links img {
          margin: 0 0 5px auto; } }
    /* line 507, sass/_main.scss */
    .footer-links .fa {
      font-size: 20px;
      padding-left: 8px;
      color: #D0D0D0; }
      /* line 511, sass/_main.scss */
      .footer-links .fa:hover, .footer-links .fa:focus, .footer-links .fa:active {
        color: #898989; }

/*********************
PAGE - Main
*********************/
/* line 524, sass/_main.scss */
.main {
  overflow: hidden;
  position: relative; }
  /* line 528, sass/_main.scss */
  .main .bg-right,
  .main .bg-left {
    position: absolute;
    z-index: -1;
    top: 0; }
  /* line 534, sass/_main.scss */
  .main .bg-right {
    right: 0; }
  /* line 537, sass/_main.scss */
  .main .bg-left {
    left: 0; }
  /* line 542, sass/_main.scss */
  .main-top {
    z-index: 100;
    margin: 0 auto; }
    @media (min-width: 768px) {
      /* line 542, sass/_main.scss */
      .main-top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 930px; } }
    /* line 550, sass/_main.scss */
    .home .main-top {
      position: relative;
      margin-bottom: 30px; }
    @media (min-width: 1024px) {
      /* line 555, sass/_main.scss */
      .channel .main-top {
        max-width: 1000px;
        position: relative;
        top: 30px; } }
    /* line 563, sass/_main.scss */
    .main-top-left {
      margin-right: 15px;
      width: 100%; }
    /* line 567, sass/_main.scss */
    .main-top-right {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 240px;
              flex: 0 0 240px;
      text-align: center;
      margin-bottom: 15px; }
      @media (min-width: 1024px) {
        /* line 567, sass/_main.scss */
        .main-top-right {
          margin-bottom: 0; } }
    /* line 576, sass/_main.scss */
    .main-top-banner {
      display: block; }
      @media (max-width: 767px) {
        /* line 576, sass/_main.scss */
        .main-top-banner {
          display: none; } }
      /* line 581, sass/_main.scss */
      .channel .main-top-banner {
        margin-top: 44px; }
        @media (min-width: 1024px) {
          /* line 581, sass/_main.scss */
          .channel .main-top-banner {
            margin-top: 0; } }
    /* line 589, sass/_main.scss */
    .main-top .bg-bottom {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: -1; }
  /* line 599, sass/_main.scss */
  .main-tv {
    width: 100%;
    padding-bottom: 62.5%;
    background-image: url("../img/bg-tv.png");
    background-color: #eee;
    position: relative; }
    /* line 605, sass/_main.scss */
    .main-tv .responsive-embed {
      position: absolute;
      top: 7px;
      left: 4px;
      width: 99%; }
  /* line 613, sass/_main.scss */
  .main-channels-link {
    background: url("../img/home/arrow-black.png") no-repeat 100% 70%;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    padding-right: 25px; }
    /* line 620, sass/_main.scss */
    .main-channels-link:hover {
      color: #898989; }
  /* line 626, sass/_main.scss */
  .main-content {
    text-align: center;
    padding: 20px 45px 10px;
    margin-bottom: 50px;
    margin-top: 30px; }
    /* line 631, sass/_main.scss */
    .main-content p {
      margin-bottom: 25px; }

/* line 638, sass/_main.scss */
.main-slider {
  position: relative;
  z-index: 110; }
  /* line 641, sass/_main.scss */
  .main-slider .prev,
  .main-slider .next {
    position: absolute;
    top: 30px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    outline: none !important; }
    @media (min-width: 1024px) {
      /* line 641, sass/_main.scss */
      .main-slider .prev,
      .main-slider .next {
        top: 0; } }
    /* line 651, sass/_main.scss */
    .main-slider .prev:hover, .main-slider .prev:focus,
    .main-slider .next:hover,
    .main-slider .next:focus {
      opacity: 0.8; }
  /* line 656, sass/_main.scss */
  .main-slider .prev {
    left: 0; }
  /* line 657, sass/_main.scss */
  .main-slider .next {
    right: 0; }
  @media (min-width: 1200px) {
    /* line 659, sass/_main.scss */
    .main-slider .prev {
      left: -25px; }
    /* line 660, sass/_main.scss */
    .main-slider .next {
      right: -25px; } }

/* line 664, sass/_main.scss */
.carousel {
  margin: 0 auto 30px; }
  /* line 666, sass/_main.scss */
  .carousel a {
    display: block;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    position: relative; }
    /* line 676, sass/_main.scss */
    .carousel a:hover .carousel-image {
      opacity: 0.8; }
  /* line 681, sass/_main.scss */
  .carousel-image {
    background-image: url("../img/planetki.png");
    width: 122px;
    height: 122px;
    background-size: 369px;
    margin: 0 auto 15px;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    /* line 689, sass/_main.scss */
    .carousel-image img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  @media (min-width: 1024px) {
    /* line 697, sass/_main.scss */
    .carousel .slick-track {
      min-height: 260px; } }
  /* line 703, sass/_main.scss */
  .carousel .slick-slide {
    position: relative;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    top: 0; }
    @media (min-width: 1024px) {
      /* line 708, sass/_main.scss */
      .carousel .slick-slide.item-1 {
        top: 0; }
      /* line 709, sass/_main.scss */
      .carousel .slick-slide.item-2 {
        top: 30px; }
      /* line 710, sass/_main.scss */
      .carousel .slick-slide.item-3 {
        top: 55px; }
      /* line 711, sass/_main.scss */
      .carousel .slick-slide.item-4 {
        top: 75px; }
      /* line 712, sass/_main.scss */
      .carousel .slick-slide.item-5 {
        top: 55px; }
      /* line 713, sass/_main.scss */
      .carousel .slick-slide.item-6 {
        top: 30px; }
      /* line 714, sass/_main.scss */
      .carousel .slick-slide.item-7 {
        top: 0; } }

/*********************
PAGE - Channels
*********************/
/* line 725, sass/_main.scss */
.main-tabs {
  position: relative; }
  @media (min-width: 1024px) {
    /* line 725, sass/_main.scss */
    .main-tabs {
      padding-left: 44px; } }
  /* line 731, sass/_main.scss */
  .main-tabs .tabs {
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none; }
    @media (min-width: 480px) {
      /* line 731, sass/_main.scss */
      .main-tabs .tabs {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
    @media (min-width: 1024px) {
      /* line 731, sass/_main.scss */
      .main-tabs .tabs {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        width: 395px;
        padding: 0 15px;
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        -webkit-transform-origin: left top 0;
                transform-origin: left top 0;
        position: absolute;
        top: 100%;
        left: 0; } }
  /* line 750, sass/_main.scss */
  .main-tabs .tabs-title {
    margin-right: 5px; }
    @media (min-width: 640px) {
      /* line 750, sass/_main.scss */
      .main-tabs .tabs-title {
        margin-right: 0;
        margin-left: 5px; } }
    /* line 756, sass/_main.scss */
    .main-tabs .tabs-title > a {
      color: #535353;
      font-size: 14px;
      padding: 0 8px;
      height: 44px;
      line-height: 44px;
      white-space: nowrap;
      background: #f1f1f1;
      background: -webkit-linear-gradient(top, #f1f1f1 0%, #d1d1d1 70%, #a9a9a9 100%);
      background: linear-gradient(to bottom, #f1f1f1 0%, #d1d1d1 70%, #a9a9a9 100%); }
      @media (min-width: 640px) {
        /* line 756, sass/_main.scss */
        .main-tabs .tabs-title > a {
          padding: 0 15px; } }
    /* line 769, sass/_main.scss */
    .main-tabs .tabs-title.is-active > a {
      background: #d0eef7;
      background: -webkit-linear-gradient(top, #d0eef7 0%, #d1e2e7 70%, #7db9e8 100%);
      background: linear-gradient(to bottom, #d0eef7 0%, #d1e2e7 70%, #7db9e8 100%);
      pointer-events: none; }
    /* line 776, sass/_main.scss */
    .main-tabs .tabs-title:hover a {
      color: #898989; }
  /* line 783, sass/_main.scss */
  .main-tabs .tabs-content {
    background: transparent;
    border: none;
    position: relative; }
    @media (min-width: 1024px) {
      /* line 783, sass/_main.scss */
      .main-tabs .tabs-content {
        min-height: 395px; } }
    /* line 790, sass/_main.scss */
    .main-tabs .tabs-content .watermark {
      position: absolute;
      top: 25px;
      left: 60px; }
  /* line 796, sass/_main.scss */
  .main-tabs .tabs-panel {
    padding: 0; }

/* line 803, sass/_main.scss */
.main-menu {
  margin: 40px 0 35px;
  padding: 0 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 640px) {
    /* line 803, sass/_main.scss */
    .main-menu {
      display: block; } }
  /* line 812, sass/_main.scss */
  .main-menu li.active a {
    background: #3daed0 !important;
    background: -webkit-linear-gradient(top, #3daed0 0%, #2486a8 100%) !important;
    background: linear-gradient(to bottom, #3daed0 0%, #2486a8 100%) !important;
    border-color: #ECECEC;
    pointer-events: none; }
  /* line 819, sass/_main.scss */
  .main-menu li a {
    padding: 7px 13px;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: #535353;
    border: 3px solid transparent;
    border-radius: 5px;
    margin: 0 3px 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    /* line 831, sass/_main.scss */
    .main-menu li a:hover {
      background: #ECECEC;
      border-color: #ECECEC; }

/* line 841, sass/_main.scss */
.channel .main-content {
  border: 1px dotted #ccc;
  border-radius: 3px; }

/* line 850, sass/_main.scss */
.masonry {
  background: #ECECEC;
  padding: 15px; }
  @media (min-width: 1024px) {
    /* line 850, sass/_main.scss */
    .masonry {
      padding: 20px 0 0; } }
  /* line 856, sass/_main.scss */
  .masonry-title {
    font-size: 18px;
    margin: 0 0 10px; }
  /* line 861, sass/_main.scss */
  .masonry-meta {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #FFF;
    line-height: 24px;
    padding: 3px 15px 3px 15px;
    margin-bottom: 15px;
    font-size: 12px;
    color: #2D869F; }
    @media (max-width: 529px) {
      /* line 861, sass/_main.scss */
      .masonry-meta {
        display: block;
        text-align: center; } }
    /* line 876, sass/_main.scss */
    .masonry-meta .meta-right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: auto; }
      @media (max-width: 767px) {
        /* line 876, sass/_main.scss */
        .masonry-meta .meta-right {
          max-width: 200px;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
          /* line 882, sass/_main.scss */
          .masonry-meta .meta-right .search {
            -webkit-box-ordinal-group: 2;
                -ms-flex-order: 1;
                    order: 1;
            margin: 3px 0; }
          /* line 886, sass/_main.scss */
          .masonry-meta .meta-right .styled-select {
            -webkit-box-ordinal-group: 3;
                -ms-flex-order: 2;
                    order: 2;
            margin: 3px 0;
            border: none;
            background: #eee; } }
    /* line 896, sass/_main.scss */
    .masonry-meta .element {
      display: inline-block;
      margin-right: 8px; }
      /* line 900, sass/_main.scss */
      .masonry-meta .element a:hover {
        opacity: 0.8; }
    /* line 905, sass/_main.scss */
    .masonry-meta .fa {
      font-size: 18px; }
    /* line 908, sass/_main.scss */
    .masonry-meta .fa-star {
      color: #F0CB2E; }
    /* line 909, sass/_main.scss */
    .masonry-meta .fa-retweet {
      color: #2D869F; }
    /* line 910, sass/_main.scss */
    .masonry-meta .share {
      color: #2D869F;
      padding-right: 10px; }
      /* line 913, sass/_main.scss */
      .masonry-meta .share:hover {
        opacity: 1;
        text-decoration: underline; }
    /* line 918, sass/_main.scss */
    .masonry-meta .socials {
      margin: 3px 0; }
      @media (min-width: 530px) {
        /* line 918, sass/_main.scss */
        .masonry-meta .socials {
          display: inline-block;
          margin: 0 15px 0 0; } }
      /* line 924, sass/_main.scss */
      .masonry-meta .socials a {
        margin-right: 2px; }
        /* line 926, sass/_main.scss */
        .masonry-meta .socials a:hover {
          opacity: 0.8; }
    /* line 932, sass/_main.scss */
    .masonry-meta .search {
      width: 200px;
      position: relative; }
      /* line 935, sass/_main.scss */
      .masonry-meta .search .fa {
        color: #D9D9D9;
        font-size: 14px;
        position: absolute;
        top: 6px;
        left: 10px; }
      /* line 942, sass/_main.scss */
      .masonry-meta .search input {
        height: 24px;
        line-height: 24px;
        padding-left: 35px;
        margin: 0;
        border: none;
        box-shadow: none !important;
        outline: none !important; }
        /* line 950, sass/_main.scss */
        .masonry-meta .search input:focus + .fa {
          color: #535353; }
  /* line 959, sass/_main.scss */
  .masonry-container .grid {
    width: 100%; }
    @media (min-width: 1024px) {
      /* line 959, sass/_main.scss */
      .masonry-container .grid {
        width: calc(100% - 210px);
        float: left;
        margin-right: 10px; } }
  /* line 968, sass/_main.scss */
  .masonry-container .element-item {
    width: calc(50% - 10px);
    background: #ccc;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative; }
    @media (min-width: 640px) {
      /* line 968, sass/_main.scss */
      .masonry-container .element-item {
        width: calc(33.33% - 10px); } }
    /* line 977, sass/_main.scss */
    .masonry-container .element-item .responsive-embed {
      margin-bottom: 0; }
    /* line 980, sass/_main.scss */
    .masonry-container .element-item a {
      display: block;
      color: #FFF;
      font-size: 12px;
      padding: 3px;
      text-decoration: underline;
      position: absolute;
      bottom: 0;
      left: 0; }
      @media (min-width: 640px) {
        /* line 980, sass/_main.scss */
        .masonry-container .element-item a {
          font-size: 13px; } }
      @media (min-width: 1024px) {
        /* line 980, sass/_main.scss */
        .masonry-container .element-item a {
          padding: 7px;
          font-size: 16px; } }
      /* line 996, sass/_main.scss */
      .masonry-container .element-item a:hover {
        text-decoration: none; }
  @media (min-width: 1024px) {
    /* line 1002, sass/_main.scss */
    .masonry-filter {
      width: 200px;
      float: right; } }

/* ---- Isotope ---- */
/* ---- button-group ---- */
/* line 1013, sass/_main.scss */
.filter-button-group {
  display: block;
  background: #FFF;
  width: 100%;
  padding: 10px; }
  /* line 1018, sass/_main.scss */
  .filter-button-group button {
    display: inline-block;
    background: none !important;
    color: #535353;
    font-size: 14px;
    line-height: 1;
    padding: 5px 0;
    margin: 3px 5px;
    overflow: hidden;
    white-space: nowrap; }
    @media (min-width: 1024px) {
      /* line 1018, sass/_main.scss */
      .filter-button-group button {
        display: block;
        margin: 0; } }
    /* line 1032, sass/_main.scss */
    .filter-button-group button:hover, .filter-button-group button:focus, .filter-button-group button:active {
      text-decoration: underline;
      color: #535353; }
    /* line 1038, sass/_main.scss */
    .filter-button-group button.is-checked {
      color: #898989;
      pointer-events: none; }

/* Styled select dropdown */
/* line 1046, sass/_main.scss */
.styled-select {
  width: 190px;
  height: 20px;
  line-height: 24px;
  font-size: 14px;
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  padding: 0 15px;
  margin: 2px 0 0;
  outline: none !important;
  position: relative; }
  /* line 1057, sass/_main.scss */
  .styled-select:before {
    content: "\f107";
    font-family: 'FontAwesome';
    display: block;
    width: 24px;
    height: 24px;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 5px; }
  /* line 1070, sass/_main.scss */
  .styled-select .styled-select-input {
    display: block;
    color: #535353; }
  /* line 1075, sass/_main.scss */
  .styled-select-dropdown {
    display: none;
    position: absolute;
    top: 22px;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 3px 0;
    border-top: none;
    width: 190px;
    z-index: 1000; }
    /* line 1086, sass/_main.scss */
    .styled-select-dropdown li {
      color: #535353;
      background: #fff;
      padding: 4px 15px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      /* line 1091, sass/_main.scss */
      .styled-select-dropdown li:hover {
        cursor: pointer;
        background: #e7e7e7; }
    /* line 1096, sass/_main.scss */
    .styled-select-dropdown.is-active {
      display: block; }

/* line 1104, sass/_main.scss */
.schedule,
.comments,
.news {
  list-style-type: none;
  padding: 30px 15px; }
  @media (min-width: 1024px) {
    /* line 1104, sass/_main.scss */
    .schedule,
    .comments,
    .news {
      margin-bottom: 0;
      padding: 0 15px; } }
  /* line 1113, sass/_main.scss */
  .schedule h2,
  .comments h2,
  .news h2 {
    margin-bottom: 15px; }
    @media (min-width: 1024px) {
      /* line 1113, sass/_main.scss */
      .schedule h2,
      .comments h2,
      .news h2 {
        margin-bottom: 30px; } }
  /* line 1119, sass/_main.scss */
  .schedule-list,
  .comments-list,
  .news-list {
    list-style-type: none;
    margin: 0; }

/* line 1126, sass/_main.scss */
.schedule-list {
  margin: 0; }
  /* line 1128, sass/_main.scss */
  .schedule-list li {
    padding: 3px 10px;
    font-size: 14px; }
    @media (min-width: 1024px) {
      /* line 1128, sass/_main.scss */
      .schedule-list li {
        font-size: 16px;
        padding: 4px 10px; } }
    /* line 1135, sass/_main.scss */
    .schedule-list li span {
      color: #3daed0;
      margin-right: 20px; }
    /* line 1139, sass/_main.scss */
    .schedule-list li a {
      color: #535353;
      white-space: nowrap; }
      /* line 1142, sass/_main.scss */
      .schedule-list li a:hover {
        text-decoration: underline; }

/* line 1154, sass/_main.scss */
.comments-list li,
.news-list li {
  margin-bottom: 20px; }
  /* line 1156, sass/_main.scss */
  .comments-list li p,
  .news-list li p {
    font-size: 14px; }
    @media (min-width: 1024px) {
      /* line 1156, sass/_main.scss */
      .comments-list li p,
      .news-list li p {
        font-size: 16px; } }

/* line 1164, sass/_main.scss */
.comments-title,
.news-title {
  color: #3daed0;
  display: block;
  margin-bottom: 8px;
  font-size: 16px; }
  @media (min-width: 1024px) {
    /* line 1164, sass/_main.scss */
    .comments-title,
    .news-title {
      font-size: 18px; } }
