/* line 1, sass/yandex-search.scss */
.ya-site-form__wrap {
  margin-bottom: 0; }

/* line 4, sass/yandex-search.scss */
.ya-site-form__wrap table {
  margin-bottom: 0; }

/* line 7, sass/yandex-search.scss */
.ya-site-form__wrap > tbody {
  background: transparent;
  border: none; }

/* line 11, sass/yandex-search.scss */
div#ya-site-form0 .ya-site-form__form .ya-site-form__input-text::-moz-placeholder,
div#ya-site-form0 .ya-site-form__form .ya-site-form__input-text::-webkit-input-placeholder {
  color: #fff; }

/* line 15, sass/yandex-search.scss */
div#ya-site-form0 .ya-site-form__form .ya-site-form__input-text {
  background: rgba(22, 22, 22, 0.25) !important;
  color: #fff !important;
  border-radius: 4px;
  padding: 10px;
  border-color: rgba(255, 255, 255, 0.3) !important; }
