/*********************
FONTS
*********************/


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7kox5d');
  src:  url('../fonts/icomoon.eot?7kox5d#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7kox5d') format('truetype'),
    url('../fonts/icomoon.woff?7kox5d') format('woff'),
    url('../fonts/icomoon.svg?7kox5d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e90b";
}
.icon-email:before {
  content: "\e90b";
}
.icon-letter:before {
  content: "\e90b";
}
.icon-envelope:before {
  content: "\e90b";
}
.icon-contact:before {
  content: "\e90b";
}
.icon-comment-discussion:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-google-plus:before {
  content: "\e903";
}
.icon-chevron-thin-down:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e90c";
}
.icon-comment:before {
  content: "\e90a";
}
.icon-calendar:before {
  content: "\e908";
}
.icon-graduation-cap:before {
  content: "\e909";
}
.icon-mortar-board:before {
  content: "\e909";
}
.icon-globe:before {
  content: "\e906";
}
.icon-youtube:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-angle-right:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e901";
}
