
// for cube 300px x 300px distance = 150px
// for angle 45deg perspective-origin=360%; for 30deg - 120%;
$width: 1100px;
$height: 740px;
$distance: $width*0.5; // 1/2 of width
$angle: 40deg; // angle for side blocks


@media (min-width:$md){

  .scene {
    width: $width;
    height: $height;
    padding-top: 30px;
    margin: 0 auto 0;
    perspective: $width*4;
    perspective-origin: 50% 0;
    transition: all 3s;

    &-container{
      width: 100%;
      overflow: hidden;
      background: #eee;
      padding-top: 25px;
    }

    .cube {
      position: relative;
      width: $width;
      height: $height;
      transform-style: preserve-3d;
      transform: translateZ(-$distance) rotateY(0deg);
      transition: all 3s;
    }

    .side {
      position: absolute;
      width: $width;
      height: $height;
      height: auto;
      cursor: ew-resize;

      .wrapper{
        width: 100%;
        height: 100%;
        position: relative;
        pointer-events: none;
      }
      &.active{
        cursor: default;
        .wrapper{
          pointer-events: all;
        }
      }
    }

    .left{
      transform: translateX(-$distance*1.9) rotateY($angle);
      opacity: 1;
      transition: opacity 1.5s, visibility 1.5s;
    }
    .front {
      transform: translateZ(-$distance);
    }
    .right{
      transform: translateX($distance*1.9) rotateY(-$angle);
      opacity: 1;
      transition: opacity 1.5s, visibility 1.5s;
    }
    .back{
      transform: translateX($distance*1.9) translateZ(1100px) rotateY(-$angle*2);
      opacity: 1;
      transition: opacity 1.5s, visibility 1.5s;
    }

    &-front{
      .back{
        opacity: 0;
        visibility: hidden;
      }
    }

    &-left{
      perspective-origin: 310% 0;
      .cube{
        transform: translateZ(-$distance) rotateY(-$angle);
      }
      .right{
        opacity: 0;
        visibility: hidden;
      }
      .back{
        opacity: 0;
        visibility: hidden;
      }
    }
    &-right{
      perspective-origin: -230% 0;
      .cube{
        transform: translateZ(-$distance) rotateY($angle);
      }
      .left{
        opacity: 0;
        visibility: hidden;
      }
    }
    &-back{
      perspective-origin: -330% 0;
      .cube{
        transform: translateZ(-$distance) rotateY($angle*2);
      }
      .left{
        opacity: 0;
        visibility: hidden;
      }
      .front{
        opacity: 0;
        visibility: hidden;
      }
    }
  }

}

@media (max-width:$md){
  .scene{
    .side{

      &.left,
      &.right,
      &.back{
        display: none;
        .wrapper{
          max-height: 600px;
        }
      }

    }
  }
}
