// Import your custom parts

@import "variables";

@import "fonts";

@import "mixins";

// Import cube transformation styles
@import "cube";


/*********************
GENERAL STYLES
*********************/
body{
  color: $text-color;
  font-family: $text-font;
  &.no-scroll {
    overflow-y: hidden;
  }
}
.clear{
  clear: both;
}
//Foundation .row
.row{
  max-width: 1130px;
}

a,
button,
input,
textarea,
select,
.button,
.fa {
  transition: all 0.3s;
}

a{
  color: $link-color;
}

.margin-top{
  margin-top: 1em;
}
a, a:visited {

  // Mobile tap color
  &:link {
    //Highlight links on iOS, Similar to :hover for mobile devices.
    -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
  }
}

// Custom Helper classes
.background-image {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.logo{
  max-width: 240px;
}
.position-relative{ position: relative; }
.margin-bottom{ margin-bottom: 1em; }
.margin-bottom-2{ margin-bottom: 2em; }
.margin-bottom-3{ margin-bottom: 3em; }
.overflow-hidden{ overflow: hidden; }
.opacity{ opacity: 0; }
.main-color{ color: $main-color; }
.link-hover{ cursor: pointer; }

.overflow-y{
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(#000, 0.2);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    width: 10px;
    height: 45px;
    border-radius: 5px;
    background: $alt-color;
    -webkit-box-shadow: inset 0 0 6px rgba($main-color, 0.3);
  }
}


/*********************
H1, H2, H3, H4, H5, P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: $head-font;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  color: $head-color;
  // Removing text decoration from all headline links
  a {
    text-decoration: none;
  }
}

h2{
  font-size: 30px;
  margin-bottom: 1em;
}
h3{ }
h4{ }
p{
  font-size: 14px;
  line-height: 1.4;
}

ul,
ol{
  font-size: 14px;
}


/*********************
HEADER
*********************/
.header{
  width: 100%;
  min-height: 85px;
  padding: 10px 10px 0;
  position: relative;
  @media (min-width:$sm){
    display: flex;
    align-items: center;
    padding-bottom: 10px;
  }
  &-left{
    display: flex;
    align-items: center;
    @media (min-width: $sm){
      position: absolute;
      left: 15px;
      top: 0;
      height: 85px;
    }
  }

  .menu-toggle{
    cursor: pointer;
    margin-left: 25px;
    text-transform: uppercase;
    i{
      font-size: 18px;
      margin-right: 2px;
    }
  }

  &-center{
    width: 100%;
    text-align: center;
    @media (min-width:$sm) and (max-width:$lg){
      text-align: right;
    }
  }

}

.page-title{
  font-size: 24px;
  font-weight: normal;
  padding: 10px 0;
  margin: 0;
  @media (min-width:$sm){
    font-size: 30px;
    padding: 0;
  }
}

.sidebar {
  position: fixed;
  color: #ffffff;
  z-index: 9;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #16131a;
  background-image: url('../img/bg-sidebar.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 100vh;
  width: 100%;
  max-width: 280px;
  transition: all 0.3s;
  z-index: 200;

  &.sidebar-closed {
    transform: translateX(-100%);
    .sidebar-close{
      opacity: 0;
      visibility: hidden;
    }
  }

}

.sidebar-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  padding-top: 10px;
}

.sidebar-scroll {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(#000, 0.2);
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    width: 10px;
    height: 45px;
    border-radius: 3px;
    background: $alt-color;
    -webkit-box-shadow: inset 0 0 6px rgba($main-color, 0.3);
  }
}

.sidebar-close{
  width: 30px;
  height: 30px;
  background: #FFF;
  color: #000;
  font-size: 24px;
  line-height: 30px;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: -40px;
  visibility: visible;
  opacity: 1;
  display: block;
  &>span{
    position: relative;
    bottom: 2px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

}

.menu-main{
  padding-top: 25px;
  > li{
    > a{
      color: $light-grey;
      font-size: 18px;
      font-style: italic;
      padding-left: 20px;
      outline: none !important;
      position: relative;
    }
    &.is-accordion-submenu-parent{
      position: relative;
      a{
        &:after{
          display: none !important;
        }
        &:before{
          content: "\f054";
          font-family: 'FontAwesome';
          font-size: 16px;
          font-style: normal;
          position: absolute;
          top: 10px;
          left: 0;
          color: $light-grey;
          transition: all 0.3s;
        }
      }
      &[aria-expanded=true]{
        a{
          &:before{
            transform: rotate(90deg);
          }
        }
      }
    }
  }
  .menu{
    li{
      a{
        color: #fff;
        font-size: 18px;
        padding-left: 20px;
        outline: none !important;
        &:hover,
        &:focus,
        &:active{
          color: #a9a9a9;
        }
      }
    }
  }

  .search{
    position: relative;
    .fa{
      position: absolute;
      top: 10px;
      left: 10px;
      color: #000;
    }
    input{
      padding-left: 35px;
      background-color: rgba(#fff,0.3);
      border: none;
      box-shadow: none !important;
      outline: none !important;
      transition: all 0.3s;
      @include placeholder{
        color: #000;
      }
      &:focus{
        background-color: rgba(#fff,0.7);
      }
    }
  }

  .login{
    a{
      color: #FFF;
      font-style: normal;
    }
  }

  .socials{
    padding-left: 20px;
    a{
      display: inline-block;
      padding-left: 8px;
      padding-right: 8px;
      font-size: 20px;
      color: $light-grey;
      &:hover{
        color: #FFF;
      }
    }
  }

  img,
  .fa{
    margin-right: 10px !important;
  }
}


#loginModal{
  padding: 15px 25px;

  .tabs{
    margin-top: 30px;
    border: none;

    &-title{
      width: 33.33%;
      text-align: center;
      color: $text-color;
      a{
        color: $text-color;
        font-size: 14px;
        padding: 15px 10px;
        background-color: #f7f7f7;
      }
      &.is-active{
        a{
          background-color: #126195;
          color: #fff;
        }
      }
    }

    &-content{
      border: none;
      input{
        font-size: 14px;
        outline: none !important;
        box-shadow: none !important;
        @include placeholder{
          color: $text-color;
        }
      }
      button{
        margin-bottom: 0;
      }
      .forgot-password{
        margin-top: 7px;
        text-align: right;
        a{
          color: $text-color;
          font-size: 10px;
          text-decoration: underline;
          &:hover{
            color: #000;
          }
        }
      }
    }

    &-panel{
      padding: 15px 0;
    }
  }
}

/*********************
FOOTER
*********************/
.footer{
  border-top: 1px solid #c3c3c3;
  padding-top: 25px;
  font-size: 14px;
  .menu{
    display: block;
    margin-bottom: 15px;
    li{
      a{
        color: #616161;
        text-decoration: underline;
        font-size: 14px;
        padding: 7px;
        justify-content: center;
        @media (min-width: $md){
          justify-content: flex-start;
        }
        &:hover,
        &:focus,
        &:active{
          color: $light-grey;
        }
      }
    }
  }

  &-contacts{
    margin-bottom: 20px;
    text-align: center;
    @media (min-width: $sm){
      text-align: left;
    }
    a{
      text-decoration: underline;
    }
    p{
      margin-bottom: 8px;
    }
  }

  &-license{
    font-size: 12px;
    color: #2E2E2E;
    text-align: center;
    @media (min-width: $sm){
      text-align: left;
    }
    p{
      line-height: 1.2;
    }
  }

  &-links{
    margin-bottom: 30px;
    text-align: center;
    @media (min-width: $md){
      text-align: right;
    }
    p{
      margin-bottom: 1em;
      line-height: 1.2;
    }
    img{
      display: block;
      margin: 0 auto 5px;
      @media (min-width: $md){
        margin: 0 0 5px auto;
      }
    }
    .fa{
      font-size: 20px;
      padding-left: 8px;
      color: #D0D0D0;
      &:hover,
      &:focus,
      &:active{
        color: $light-grey;
      }
    }
  }
}


/*********************
PAGE - Main
*********************/
.main{
  overflow: hidden;
  position: relative;

  .bg-right,
  .bg-left{
    position: absolute;
    z-index: -1;
    top: 0;
  }
  .bg-right{
    right: 0;
  }
  .bg-left{
    left: 0;
  }

  // main top section
  &-top{
    z-index: 100;
    margin: 0 auto;
    @media (min-width:768px){
      display: flex;
      max-width: 930px;
    }

    .home &{
      position: relative;
      margin-bottom: 30px;
    }

    .channel & {
      @media (min-width:$md){
        max-width: 1000px;
        position: relative;
        top: 30px;
      }
    }

    &-left{
      margin-right: 15px;
      width: 100%;
    }
    &-right{
      flex: 0 0 240px;
      text-align: center;
      margin-bottom: 15px;
      @media (min-width:$md){
        margin-bottom: 0;
      }
    }

    &-banner{
      display: block;
      @media (max-width:767px){
        display: none;
      }
      .channel &{
        margin-top: 44px;
        @media (min-width:$md){
          margin-top: 0;
        }
      }
    }

    .bg-bottom{
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }

  // section with tv
  &-tv{
    width: 100%;
    padding-bottom: 62.5%;
    background-image: url('../img/bg-tv.png');
    background-color: #eee;
    position: relative;
    .responsive-embed{
      position: absolute;
      top: 7px;
      left: 4px;
      width: 99%;
    }
  }

  &-channels-link{
    background: url('../img/home/arrow-black.png') no-repeat 100% 70%;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    padding-right: 25px;
    &:hover{
      color: $light-grey;
    }
  }

  // main bottom section
  &-content{
    text-align: center;
    padding: 20px 45px 10px;
    margin-bottom: 50px;
    margin-top: 30px;
    p{
      margin-bottom: 25px;
    }
  }
}

// Slider with channels
.main-slider{
  position: relative;
  z-index: 110;
  .prev,
  .next{
    position: absolute;
    top: 30px;
    transition: all 0.3s;
    cursor: pointer;
    outline: none !important;
    @media (min-width: $md){
      top: 0;
    }
    &:hover,
    &:focus{
      opacity: 0.8;
    }
  }
  .prev{ left: 0; }
  .next{ right: 0; }
  @media (min-width: $lg){
    .prev{ left: -25px; }
    .next{ right: -25px; }
  }
}

.carousel{
  margin: 0 auto 30px;
  a{
    display: block;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    position: relative;
    &:hover{
      .carousel-image{
        opacity: 0.8;
      }
    }
  }
  &-image{
    background-image: url('../img/planetki.png');
    width: 122px;
    height: 122px;
    background-size: 369px;
    margin: 0 auto 15px;
    position: relative;
    transition: all 0.3s;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .slick-track{
    @media (min-width:$md){
      min-height: 260px;
    }
  }

  .slick-slide{
    position: relative;
    transition: all 0.5s;
    top: 0;
    @media (min-width:$md){
      &.item-1{ top: 0; }
      &.item-2{ top: 30px; }
      &.item-3{ top: 55px; }
      &.item-4{ top: 75px; }
      &.item-5{ top: 55px; }
      &.item-6{ top: 30px; }
      &.item-7{ top: 0; }
    }
  }
}


/*********************
PAGE - Channels
*********************/
.main{
  // tabs
  &-tabs{
    position: relative;
    @media (min-width:$md){
      padding-left: 44px;
    }

    .tabs{
      background: transparent;
      display: flex;
      justify-content: center;
      border: none;
      @media (min-width:$xs){
        justify-content: flex-start;
      }
      @media (min-width:$md){
        justify-content: flex-end;
        width: 395px;
        padding: 0 15px;
        transform: rotate(-90deg);
        transform-origin: left top 0;
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
    .tabs-title{
      margin-right: 5px;
      @media (min-width:$sm){
        margin-right: 0;
        margin-left: 5px;
      }
      &>a{
        color: $text-color;
        font-size: 14px;
        padding: 0 8px;
        height: 44px;
        line-height: 44px;
        white-space: nowrap;
        background: #f1f1f1;
        background: linear-gradient(to bottom,  #f1f1f1 0%, #d1d1d1 70%, #a9a9a9 100%);
        @media (min-width:$sm){
          padding: 0 15px;
        }
      }
      &.is-active>a{
        background: #d0eef7;
        background: linear-gradient(to bottom,  #d0eef7 0%, #d1e2e7 70%, #7db9e8 100%);
        pointer-events: none;
      }

      &:hover{
        a{
          color: $light-grey;
        }
      }

    }

    .tabs-content{
      background: transparent;
      border: none;
      position: relative;
      @media (min-width:$md){
        min-height: 395px;
      }
      .watermark{
        position: absolute;
        top: 25px;
        left: 60px;
      }
    }
    .tabs-panel{
      padding: 0;
    }

  }

  // main menu
  &-menu{
    margin: 40px 0 35px;
    padding: 0 15px;
    justify-content: center;
    @media (max-width: $sm){
      display: block;
    }
    li{
      &.active{
        a{
          background: #3daed0 !important;
          background: linear-gradient(to bottom,  #3daed0 0%,#2486a8 100%) !important;
          border-color: #ECECEC;
          pointer-events: none;
        }
      }
      a{
        padding: 7px 13px;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
        color: $text-color;
        border: 3px solid transparent;
        border-radius: 5px;
        margin: 0 3px 5px;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
          background: #ECECEC;
          border-color: #ECECEC;
        }
      }
    }
  }

  // main bottom section
  &-content{
    .channel &{
      border: 1px dotted #ccc;
      border-radius: 3px;
    }
  }

}

// Masonry section
.masonry{
  background: #ECECEC;
  padding: 15px;
  @media (min-width:$md){
    padding: 20px 0 0;
  }
  &-title{
    font-size: 18px;
    margin: 0 0 10px;
  }

  &-meta{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #FFF;
    line-height: 24px;
    padding: 3px 15px 3px 15px;
    margin-bottom: 15px;
    font-size: 12px;
    color: #2D869F;
    @media (max-width:529px){
      display: block;
      text-align: center;
    }
    .meta{
      &-right{
        display: flex;
        margin: auto;
        @media (max-width:767px){
          max-width: 200px;
          flex-wrap: wrap;
          .search{
            order: 1;
            margin: 3px 0;
          }
          .styled-select{
            order: 2;
            margin: 3px 0;
            border: none;
            background: #eee;
          }
        }
      }
    }

    .element{
      display: inline-block;
      margin-right: 8px;
      a{
        &:hover{
          opacity: 0.8;
        }
      }
    }
    .fa{
      font-size: 18px;
    }
    .fa-star{ color: #F0CB2E; }
    .fa-retweet{ color: #2D869F; }
    .share{
      color: #2D869F;
      padding-right: 10px;
      &:hover{
        opacity: 1;
        text-decoration: underline;
      }
    }
    .socials{
      margin: 3px 0;
      @media (min-width:530px){
        display: inline-block;
        margin: 0 15px 0 0;
      }
      a{
        margin-right: 2px;
        &:hover{
          opacity: 0.8;
        }
      }
    }

    .search{
      width: 200px;
      position: relative;
      .fa{
        color: #D9D9D9;
        font-size: 14px;
        position: absolute;
        top: 6px;
        left: 10px;
      }
      input{
        height: 24px;
        line-height: 24px;
        padding-left: 35px;
        margin: 0;
        border: none;
        box-shadow: none !important;
        outline: none !important;
        &:focus+.fa{
          color: $text-color;
        }
      }
    }
  }

  &-container{

    .grid{
      width: 100%;
      @media (min-width:$md){
        width: calc(100% - 210px);
        float: left;
        margin-right: 10px;
      }
    }

    .element-item{
      width: calc(50% - 10px);
      background: #ccc;
      margin-right: 10px;
      margin-bottom: 10px;
      position: relative;
      @media (min-width:$sm){
        width: calc(33.33% - 10px);
      }
      .responsive-embed{
        margin-bottom: 0;
      }
      a{
        display: block;
        color: #FFF;
        font-size: 12px;
        padding: 3px;
        text-decoration: underline;
        position: absolute;
        bottom: 0;
        left: 0;
        @media (min-width:$sm){
          font-size: 13px;
        }
        @media (min-width:$md){
          padding: 7px;
          font-size: 16px;
        }
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
  &-filter{
    @media (min-width:$md){
      width: 200px;
      float: right;
    }
  }
}


/* ---- Isotope ---- */
/* ---- button-group ---- */
.filter-button-group{
  display: block;
  background: #FFF;
  width: 100%;
  padding: 10px;
  button{
    display: inline-block;
    background: none !important;
    color: $text-color;
    font-size: 14px;
    line-height: 1;
    padding: 5px 0;
    margin: 3px 5px;
    overflow: hidden;
    white-space: nowrap;
    @media (min-width:$md){
      display: block;
      margin: 0;
    }
    &:hover,
    &:focus,
    &:active{
      text-decoration: underline;
      color: $text-color;
    }
    &.is-checked{
      color: $light-grey;
      pointer-events: none;
    }
  }
}

/* Styled select dropdown */
.styled-select{
  width: 190px;
  height: 20px;
  line-height: 24px;
  font-size: 14px;
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  padding: 0 15px;
  margin: 2px 0 0;
  outline: none !important;
  position: relative;
  &:before{
    content: "\f107";
    font-family: 'FontAwesome';
    display: block;
    width: 24px;
    height: 24px;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 5px;
  }

  .styled-select-input{
    display: block;
    color: $text-color;
  }

  &-dropdown{
    display: none;
    position: absolute;
    top: 22px;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 3px 0;
    border-top: none;
    width: 190px;
    z-index: 1000;
    li{
      color: $text-color;
      background: #fff;
      padding: 4px 15px;
      transition: all 0.3s;
      &:hover{
        cursor: pointer;
        background: #e7e7e7;
      }
    }
    &.is-active{
      display: block;
    }
  }
}


//Channel side sections
.schedule,
.comments,
.news{
  list-style-type: none;
  padding: 30px 15px;
  @media (min-width:$md){
    margin-bottom: 0;
    padding: 0 15px;
  }
  h2{
    margin-bottom: 15px;
    @media (min-width:$md){
      margin-bottom: 30px;
    }
  }
  &-list{
    list-style-type: none;
    margin: 0;
  }
}
// Программа канала
.schedule{
  &-list{
    margin: 0;
    li{
      padding: 3px 10px;
      font-size: 14px;
      @media (min-width:$md){
        font-size: 16px;
        padding: 4px 10px;
      }
      span{
        color: $alt-color;
        margin-right: 20px;
      }
      a{
        color: $text-color;
        white-space: nowrap;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

// Комментарии, новости
.comments,
.news{
  &-list{
    li{
      margin-bottom: 20px;
      p{
        font-size: 14px;
        @media (min-width:$md){
          font-size: 16px;
        }
      }
    }
  }
  &-title{
    color: $alt-color;
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    @media (min-width:$md){
      font-size: 18px;
    }
  }
}
