// Variables
$main-color: #113970;
$alt-color: #3daed0;

$link-color: #07407f;

$light-grey: #898989;

$text-color: #535353;
$head-color: #283a47;

$text-font: 'Roboto', Helvetica, Arial, sans-serif;
$head-font: 'Roboto', Helvetica, Arial, sans-serif;

// Media Screens
$xs: 480px;
$sm: 640px;
$md: 1024px;
$lg: 1200px;
