.ya-site-form__wrap{
  margin-bottom: 0;
}
.ya-site-form__wrap table{
  margin-bottom: 0;
}
.ya-site-form__wrap>tbody{
  background: transparent;
  border: none;
}
div#ya-site-form0 .ya-site-form__form .ya-site-form__input-text::-moz-placeholder,
div#ya-site-form0 .ya-site-form__form .ya-site-form__input-text::-webkit-input-placeholder{
 color: #fff; 
}
div#ya-site-form0 .ya-site-form__form .ya-site-form__input-text {
    background: rgba(22, 22, 22, 0.25)!important;
    color: #fff !important;
    border-radius: 4px;
    padding: 10px;
    border-color: rgba(255, 255, 255, 0.3) !important;
}